body {
    font-family: 'Nunito', sans-serif;
  }
  
.newStudentForm {
    text-align: center;

    .loginCard {
        display: flex;
        align-items: center;
        justify-content: center;
      }
}